<div class="user-new">
  <h1>Sign Up</h1>
  <%= form_for User.new do |f| %>
    <div class="form-field">
      <%= f.text_field(:username, required: true, autofocus: true) %><br><span>Username</span>
    </div>
    <div class="form-field">
      <%= f.text_field(:email, required: true) %><br><span>Email</span>
    </div>
    <div class="form-field">
      <%= f.password_field(:password, required: true) %><br><span>Password</span>
    </div>
    <div class="form-field">
      <%= f.password_field(:password_confirmation, required: true) %><br><span>Confirm Password</span>
    </div>
    <%= f.submit "Create Account" %>
  <% end %>
</div>