<div class="user-show">
  <h1>Account Summary</h1>

  <div class="user-show-budget-summary">
    <h1>Week Budget</h1>
    <%= show_week_budget_summary(@user) %>
    <% if @user.week_budget %>
      <h3><%= link_to "show week", user_week_budget_path({user_id: @user.id, id: @user.week_budget.id}) %></h3>
    <% end %>
  </div>


  <div class="user-show-budget-summary">
    <h1>Month Budget</h1>
    <%= show_month_budget_summary(@user) %>
    <% if @user.month_budget %>
      <h3><%= link_to "show month", user_month_budget_path({user_id: @user.id, id: @user.month_budget.id}) %></h3>
    <% end %>
  </div>

  <div class="budget-expenditures">
    <h1>Recent Expenditures</h1>
    <%= show_expenditures(@user) %>
  </div>
</div>