
<h1><%= @user.username + '\'s budget summary' %></h1>

<div class="userShowBudgetSummary">
  <h2>Week Budget</h2>
  <%= show_week_budget_summary(@user) %>
  <h3><%= link_to "show week", user_week_budget_path({user_id: @user.id, id: @user.week_budget.id}) %></h3>
</div>


<div class="userShowBudgetSummary">
  <h2>Month Budget</h2>
  <%= show_month_budget_summary(@user) %>
  <h3><%= link_to "show month", user_month_budget_path({user_id: @user.id, id: @user.month_budget.id}) %></h3>
</div>

<div class="budgetExpenditures">
  <h2>Recent Expenditures</h2>
  <%= show_expenditures(@user) %>
</div>
