<div class="expenditure-new">
  <h1>Add Expenditure</h1>
  <%= form_for [@user, Expenditure.new] do |form| %>
    Omit from weekly expense<%= check_box_tag(:omit_from_week) %>
    <div class="form-field">
      <%= form.text_field :amount %><h4>Amount</h4>
    </div>
    <div class="form-field">
      <%= form.text_field :location %><h4>Location</h4>
    </div>
    <%= form.submit "Add Expenditure" %>
  <% end %>
</div>