<div class="userShowBudgetSummary">
  <p>$<%= '%.2f' % @user.week_budget.current_amount %> spent of $<%= '%.2f' % @user.week_budget.target_amount %> <span><%= percent_of_budget_spent(@user.week_budget) %></span></p>
  <p><%= link_to "change budget", edit_user_week_budget_path({user_id: @user.id, id: @user.week_budget.id}) %></p>
  <p><%= link_to "view week", user_week_budget_path({user_id: @user.id, id: @user.week_budget.id}) %></p>
</div>