<!DOCTYPE html>
<html>
<head>
  <title>SimpleBudget</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= new_expenditure_if_logged_in %>
  <% flash.each do |key, value| %>
    
      <% if key == "notice" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning flashMessage" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger flashMessage" %>
      <% else %>
        <%= content_tag :div, value, class: "text-center alert alert-success flashMessage" %>
      <% end %>
    <% end %>

  <%= yield %>

  <%= render partial: "site/bottom_nav" %>

</body>
</html>
